<ion-header>
  <ion-toolbar>
    <ion-title>Login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card color="primary">

    <ion-card-content>
      <form #data="ngForm" (ngSubmit)="submitForm(data)">

        <ion-item color="primary" lines="full">
          <ion-label position="floating">Email</ion-label>
          <ion-input name="email" ngModel type="email" required></ion-input>
        </ion-item>

        <ion-item color="primary" lines="full">
          <ion-label position="floating">Password</ion-label>
          <ion-input name="password" ngModel type="password" required></ion-input>
        </ion-item>

        <ion-row>
          <ion-col>
            <ion-button type="submit" color="secondary" expand="block">Sign in</ion-button>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col>
            <ion-button routerLink="/register" color="light" expand="block">Sign up</ion-button>
          </ion-col>
        </ion-row>
      </form>
    </ion-card-content>
  </ion-card>
</ion-content>
