<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title color="primary">
      Users list
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-item *ngFor="let user of userList">
      <ion-avatar slot="start">
        <ion-img src="assets/Images/vector users icon_4144740.png"></ion-img>
      </ion-avatar>
      <ion-label>
      <h1 style="color: #0275d8;">{{ user.firstName + ' ' + user.lastName | titlecase}}</h1>
      <span>{{ user.email }}</span>
      </ion-label>
  </ion-item>
</ion-content>
