<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Search
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-item lines="full">
    <ion-label position="floating">Search</ion-label>
    <ion-input type="text" class="form-control" placeholder="Search..." [(ngModel)]="value"></ion-input>
  </ion-item>
  <ion-item *ngFor="let user of userList | filter:value">
    <ion-list>
      <h3 style="color: #0275d8;">{{ user.firstName +' '+ user.lastName | titlecase }}</h3>
    </ion-list>
  </ion-item>
</ion-content>
